// /////////////////////////
// @@ HEADER BRANDING
// ////////////////////////

.r-header {
  @include mq(desktop) {
  }

  &__branding {
    transition: all 0.5s ease-in;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: $margin-b;

    @include mq(desktop) {
      position: fixed;
      min-height: 100%;
      width: 50vw;

      grid-area: branding;
    }
  }
}

.r-branding {
  &__title {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: map-get($colors, accent-two);
    padding: 2rem 0;
    color: map-get($colors, accent);
    text-align: right;

    @include mq(desktop) {
      background-image: url("../images/logo.png");
      background-position: 90%;
      // background-color: transparent;
      color: map-get($colors, white);
      text-align: left;
      margin-top: 6rem;
    }
  }
}
