// //////////////////////////////
// @@ REGION CONTENT
// //////////////////////////////

.r-content {

  @include mq(tablet) {
    flex: 1 0 auto;
  }

  @include mq(desktop) {
    padding-left: 2rem;
  }

  img {
    margin-bottom: $margin-b;

    @include mq(tablet) {
      width: 35%;
      float: left;
      margin-right: 1.5rem;
    }
  }

}