// //////////////////////////////
// @@ REGION FOOTER
// //////////////////////////////

.r-footer {
  background-color: map-get($colors, accent-two);
  padding: 2rem 0;

  @include mq(tablet) {
    flex-shrink: 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;

    @include mq(tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__opening-hours {
    border-bottom: 1px solid map-get($colors, white);
    text-align: center;
    padding-bottom: 2.5rem;

    @include mq(tablet) {
      text-align: left;
      border-bottom: none;
    }
  }

  &__contact {
    text-align: center;
    padding: 2.5rem 0;

    @include mq(desktop) {
      padding: 0 2rem;
      text-align: left;
    }
  }

  &__mail-link {
    cursor: pointer;
    margin-bottom: $margin-b;
  }

  &__copy {
    background-color: map-get($colors, accent-two);
    border-top: 1px solid map-get($colors, white);
    padding: 1.5rem 3rem;
    font: {
      size: 1rem;
    }

    @include mq(desktop) {
      border-top: none;
      grid-area: copy;
      z-index: 99;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 50.1vw;
    }
  }
}
