// //////////////////////////////
// @@ REGION PARENT-CONTAINER
// //////////////////////////////

// This for the splitscreen on desktop

.r-grid-container {

    @include mq(desktop) {
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 5rem 1fr auto;

        grid-template-areas: 
          "header-top ."
          "branding main"
          "copy .";


    }
}